/* 
! {
    [팀 공통사항]
    @import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

    * {
        border: 1px solid red;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    a {
        color: black;
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    body {
        font-family: "Noto Sans KR";
    }
}
*/

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR";
}

li {
    list-style-type: none;
}

/* 상/하단 전체 외곽 박스 */
.container_y {
    padding: 0 150px;
}

/* 상단 전체 박스 */
.contents_y {
    width: 1280px;
    padding: 60px 0 100px;
    margin: 0 auto;
}

/* 항공권 예매 타이틀 */
.title_y {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 8px;
}

/* 탭 영역 */
.tapArea_y {
    margin: 2.3rem 0 4rem;
}

/* 예매/마일리지 */
.tapWrapIn_y {
    display: inline-block;
}

.tabList_y {
    width: auto;
    min-width: 50rem;
    float: left;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #d9dbe1;
    border-radius: 2.5rem;
}

.tabItem_y {
    position: relative;
    background-color: #00256c;
    color: #fff;
    width: auto;
    min-width: 25rem;
    white-space: nowrap;
}