/* 
! {
    [팀 공통사항]
    @import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

    * {
        border: 1px solid red;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    a {
        color: black;
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    body {
        font-family: "Noto Sans KR";
    }
}
*/

* {
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR";
}